/* BUTTONS */

.btn-primary {
    margin: 2vh 0;
    background-color: var(--main-color);
    border-color: var(--main-color);
    width: calc(100% - 4vh);
    display: block;
  }
  
  .btn-primary-inverse {
    background-color: #fff;
    color: var(--main-color);
    border: none;
  }
  
  .btn-primary-inverse:hover {
    background-color: var(--main-color-hover);
    border: none;
  }

  .btn-short {
    width: fit-content;
    margin: 0 auto;
    display: block;
  }
  