:root {
    --main-color: #6088f7;
    --main-color-hover: #7ea1ff;
    --black-color: #181818;
  }

  body {
    /*background-color: #f8f9fa;*/
    background-color: white;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #content {
    margin-top: 5em;
  }

  .footer {
    background-color: var(--main-color);
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;

  }

  .img-scale-hover {
    transition: transform 0.4s;
  }

  .img-scale-hover:hover {
    transform: scale(1.1);
    }

    .vf-img {
      max-width: -webkit-fill-available;
    }