:root {
    --main-color: #6088f7;
    --main-color-hover: #7ea1ff;
    --black-color: #181818;
  }

  body {
    /*background-color: #f8f9fa;*/
    background-color: white;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #content {
    margin-top: 5em;
  }

  .footer {
    background-color: var(--main-color);
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;

  }

  .img-scale-hover {
    transition: transform 0.4s;
  }

  .img-scale-hover:hover {
    transform: scale(1.1);
    }

    .vf-img {
      max-width: -webkit-fill-available;
    }

    .vf-frame-full {
      width: 100%;
      height: 80vh;
    }

    .vf-frame-half {
      width:50%;
      height:70vh;
      margin:0 auto;
      display: block;
    }

    @media (width <= 1000px) {
      .vf-frame-half {
        width: 100%;
        height: 50vh;
      }
    }

    /* COLS */
    vf-col.col-min-200px {
      min-width: 200px;
    }

    vf-col.col-min-300px {
      min-width: 300px;
    }

    vf-col.col-min-400px {
      min-width: 400px;
    }

    iframe {
      border: none;
    }

    /* UNIT */
    .row-unit {

    }

    .col-unit {
      border: 1px solid var(--main-color);
      border-radius: 10px;
      margin: 10px;
      padding: 10px;
    }

    .col-unit  h2 {
      background-color: white;
      color: var(--main-color) !important;
    }

    .col-unit:hover, .col-unit:hover  h2 {
      background-color: var(--main-color);
      color: white !important;
    }

    .list-unit ul, .list-unit ol{
      text-align: center;
      list-style-type: none;
      padding: 0;
    }

    .list-unit > li {
      color: red;
    }